<!DOCTYPE html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{{page.title}} - {{site.name}}</title>
	<link rel="stylesheet" href="/base.css" type="text/css" media="screen" /> 
</head>

<body>

<div id="container">

<div id="head">
<ul id="navigation">
<li><a href="/">home</a></li>
<li><a href="/blog">blog</a></li>
<li><a href="/about">about</a></li>
</ul>
<h1 id="page-title">{{site.name}}</h1>
</div>

<div id="content-blog">
    <p id="tagline">South Florida Hackers</p>

{{content}}

</div>

<div id="footer">Copyright &copy; 2012 E5CA18</div>

</div>

</body>
</html>
